.container00 {
  &.container08 {
    background-image: url(../imgs/01.jpg);
  }
  &.container10 {
    background-image: url(../imgs/02.jpg);
  }
  &.container11 {
    background-image: url(../imgs/03.jpg);
  }
  &.container12 {
    background-image: url(../imgs/04.jpg);
  }
  &.container13 {
    background-image: url(../imgs/05.jpg);
  }
}

.container01Content {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .titleHuman {
    font-size: 160px;
  }
  .subTitleHuman {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
  }
}

.containerRightContent {
  margin-left: 65%;
  padding-top: 15%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subTitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 990px) {
  .container01Content {
    .titleHuman {
      font-size: 100px;
    }
    .subTitleHuman {
      font-size: 30px;
      font-weight: 300;
    }
  }
}

@media (max-width: 510px) {
  .container01Content {
    .titleHuman {
      font-size: 60px;
    }
    .subTitleHuman {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .titleSection {
    font-size: 40px;
    font-weight: bold;
  }

  .subTitle {
    font-weight: 300;
    margin-bottom: 40px;
  }

  .containerRightContent {
    margin-left: 35%;
  }
}

@media (max-width: 320px) {
  .container01Content {
    .titleHuman {
      font-size: 50px;
    }
    .subTitleHuman {
      font-size: 20px;
      font-weight: 300;
    }
  }
}
